# Files and directories created by pub
.dart_tool/
.packages
# Remove the following pattern if you wish to check in your lock file
pubspec.lock

# Conventional directory for build outputs
build/

# Directory created by dartdoc
doc/api/

# IntelliJ Project
# Ignore the root .idea folder except the runConfigurations folder
!idea/
.idea/*
!/.idea/runConfigurations/

# Unsplash API keys file for local testing.
lib/api_keys.dart